#Any child directory of an MPLABX project folder - if folder structure changed later, modify this
*.X/*/

#Make files of MPLABX projects
*.X/Makefile

#Negate folders inside MPLABX project folders that you would like to be versioned

*.[oa]
*~
